@font-face {
  font-family: HandleGothic;
  src: url("Handel Gothic BT.ttf") format("truetype");
}

h1 {
    font-family: HandleGothic;
    font-size: 30px;
    padding: 10px;
}

a {
  text-decoration: none;
}

#main {
  color: #555555;
}

#com {
  color: #4caf50;
}

button {
  
  float: right;
  font-family: sans-serif;
  background-color: #4caf50;
  color: white;
  
}

.flex-box {
  
  display: flex;
  flex-flow: column;
}

a:hover {
  text-decoration: none;
}