.parent {
  background-color: darkred;
  height: 300px;
  width: 300px;
}

.child {
  background-color: blue;
  height: 50%;
  width: 50%;
  transition: transform 1s linear;
}

.parent:hover .child {
  
  animation: round 1s linear;
  transform: translateX(100%);
  
}