.flexcontainer {
  
  display: flex;
  flex-flow: column;
  border: 1px solid black;
  padding: 10px;
}

.flex-1 {
  
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  padding: 10px;
  justify-content: space-evenly;
}

h1 { color: #ffffff; font-family: 'Lato', sans-serif; font-size: 54px; font-weight: 300; line-height: 58px; margin: 0 0 58px; background-color: black; }
